@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

body 
{
font-family: 'Merriweather', serif;
font-family: 'Noto Sans', sans-serif;
background-color: #e2e8f0;
}

header {
    background-color: yellow;
    border-radius: 1rem;
    border-color: red;
    border-style: solid;
    padding: 0%;
    margin: 0.5rem 1rem;
    font-weight: bolder;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    width:70%;
    margin:auto;
    padding:0.5rem;
    
    
}

p{
    color:#112031;
    font-weight: bold;
    margin-block-start: 2px;
    margin-block-end: 2px;
}
textarea{
    display:block;
    border-style: solid;
    margin: 10px 0px;
    padding: 1rem;
    height:10vh;
    border-radius: 0.5rem;
    border-color: red;
    border-width: 0.09cm;
    padding: 1rem;
    

}

#output-div{
    border-radius: 1rem;
    border-color: red;
    border-style: solid;
    height: 10vh;
    margin:5px 0px;
    width:95%;
    background-color: yellow;
    font-weight: bold;
    color: black;
    padding:1rem
}

#output-text{
    font-weight: bold;
    color:black;
}

button{
    margin-bottom: 10px;
    display:block;
    width:100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: yellow;
    border-color: red;
    border-style: solid; 
    font-size: 1rem;
    font-weight: bold;
    color:black
    
}

img{
    display: block;
    width:20%;
    margin:0 auto;
}